n8n-workflow-webp-convert.json
{
  "name": "PixelPorter - WebP Conversion Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pixelporter",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "pixelporter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "svg-check",
              "leftValue": "={{ $binary.file.mimeType }}",
              "rightValue": "image/svg+xml",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Is SVG?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://sharp-service:3100/convert",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "quality",
              "value": "80"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "file"
            }
          }
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Convert to WebP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 420]
    },

    {
      "parameters": {
        "method": "POST",
        "url": "http://sharp-service:3100/generate-alt-text",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Generate Alt Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  const name = item.json.seoFilename || 'image.webp';\n  const mime = item.json.mimeType || (name.endsWith('.svg') ? 'image/svg+xml' : 'image/webp');\n  item.binary = {\n    file: {\n      data: item.json.fileBase64,\n      mimeType: mime,\n      fileName: name,\n    }\n  };\n  delete item.json.fileBase64;\n  delete item.json.mimeType;\n}\nreturn items;"
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Rename File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dentistrozellesydney.com.au/wp-json/wp/v2/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            },
            {
              "name": "alt_text",
              "value": "={{ $json.altText }}"
            },
            {
              "name": "title",
              "value": "={{ $json.altText }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Upload to WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 300],
      "credentials": {
        "httpBasicAuth": {
          "id": "",
          "name": "WordPress - Rozelle"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is SVG?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is SVG?": {
      "main": [
        [
          {
            "node": "Generate Alt Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to WebP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to WebP": {
      "main": [
        [
          {
            "node": "Generate Alt Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Alt Text": {
      "main": [
        [
          {
            "node": "Rename File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename File": {
      "main": [
        [
          {
            "node": "Upload to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
